nifi-fix-bundle/NiFi Templates/Trades_Monitoring.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>01591002-6629-1bf8-3034-482d06d6295d</groupId>
  <name>Trades Monitoring</name>
  <snippet>
    <connections>
      <id>01591004-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>678.2397800115675</x>
        <y>591.8399410787416</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591002-a6b4-132e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>2</zIndex>
    </connections>
    <connections>
      <id>01591005-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1003.679599347505</x>
        <y>80.6399956289125</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591006-e4fc-17c7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01591006-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1097.279697003755</x>
        <y>135.3599892202211</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591001-e4fc-17c7-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01591007-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>600.4797702459425</x>
        <y>387.3599606099916</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591000-a6b4-132e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01591008-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>851.03970676938</x>
        <y>391.67996793421037</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41d3d70e-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>10021159-1a59-1544-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>10021159-1a58-1544-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591005-e4fc-17c7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>10021159-1a5a-1544-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>388.7998386053175</x>
        <y>187.19997983606584</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>432ea6b4-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>10021159-1a58-1544-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1002115a-1a58-1544-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>393.11978489438</x>
        <y>394.55994229944474</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591000-a6b4-132e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-e4fc-17c7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1002115f-1a58-1544-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>395.9997897771925</x>
        <y>588.9599361959291</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591002-a6b4-132e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591000-e4fc-17c7-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>41dd6142-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1059.839755597505</x>
        <y>390.2399654928041</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41dc293d-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41d3d70e-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>41de47eb-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1268.6396823553175</x>
        <y>388.79996305139787</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591007-e4fc-17c7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41dc293d-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>42a0c5b6-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>42a0651f-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41dc293d-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>42a3add0-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1248.47964817563</x>
        <y>591.8399143758608</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>41f2ff76-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>42a0651f-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4330398a-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>675.359775128755</x>
        <y>190.0799770894838</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591003-a6b4-132e-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>432ea6b4-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>1</zIndex>
    </connections>
    <funnels>
      <id>01591003-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>758.8798583984367</x>
        <y>305.280053367615</y>
      </position>
    </funnels>
    <inputPorts>
      <id>01591000-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>60.48297569063391</x>
        <y>645.9493653249812</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>MiNiFi Messages</name>
      <state>STOPPED</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <labels>
      <id>01591009-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>362.8799743652344</height>
      <label>FIX Messages, extracted from application logs</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#cccac4</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>12px</value>
        </entry>
      </style>
      <width>361.4398498535156</width>
    </labels>
    <labels>
      <id>0159100a-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>853.9198535156245</x>
        <y>175.67997930526735</y>
      </position>
      <height>383.0399475097656</height>
      <label>Select a subset of fields and return
a JSON object per message</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#d1d1cd</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>12px</value>
        </entry>
      </style>
      <width>362.8797912597656</width>
    </labels>
    <outputPorts>
      <id>01591001-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>1280.5153364545188</x>
        <y>262.4302980829159</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>To Spark Streaming</name>
      <state>STOPPED</state>
      <type>OUTPUT_PORT</type>
    </outputPorts>
    <processors>
      <id>01591000-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>364.3200048828123</x>
        <y>431.99996303558385</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>C:\tools\org.quickfixj-1.6.3\etc\FIX44.XML</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertFIXtoXML</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
    </processors>
    <processors>
      <id>01591002-a6b4-132e-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>365.75989257812466</x>
        <y>623.5200417709352</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>C:\tools\org.quickfixj-1.6.3\etc\FIX44.XML</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertFIXtoXML</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
    </processors>
    <processors>
      <id>01591003-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>4.365798177433248</x>
        <y>431.279986228943</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JMS Provider</key>
            <value>
              <name>JMS Provider</name>
            </value>
          </entry>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>
              <name>Destination Name</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Message Batch Size</key>
            <value>
              <name>Message Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Acknowledgement Mode</key>
            <value>
              <name>Acknowledgement Mode</name>
            </value>
          </entry>
          <entry>
            <key>Message Selector</key>
            <value>
              <name>Message Selector</name>
            </value>
          </entry>
          <entry>
            <key>Copy JMS Properties to Attributes</key>
            <value>
              <name>Copy JMS Properties to Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Client ID Prefix</key>
            <value>
              <name>Client ID Prefix</name>
            </value>
          </entry>
          <entry>
            <key>Use Durable Subscription</key>
            <value>
              <name>Use Durable Subscription</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JMS Provider</key>
            <value>ActiveMQ</value>
          </entry>
          <entry>
            <key>URL</key>
            <value>localhost:8000</value>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>test</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Message Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Acknowledgement Mode</key>
            <value>Client Acknowledge</value>
          </entry>
          <entry>
            <key>Message Selector</key>
          </entry>
          <entry>
            <key>Copy JMS Properties to Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Client ID Prefix</key>
          </entry>
          <entry>
            <key>Use Durable Subscription</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>* * * * * ?</schedulingPeriod>
        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Receive Drop Copies with JMS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetJMSTopic</type>
    </processors>
    <processors>
      <id>01591005-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>7.399870605468777</x>
        <y>22.879596852508982</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>C:\tools\fix2xml\data</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>testfix44.txt</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>30 sec</yieldDuration>
      </config>
      <name>Read FIX log file</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>01591006-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>1221.5154518951892</x>
        <y>23.70063413909041</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Socket Send Buffer</key>
            <value>
              <name>Max Size of Socket Send Buffer</name>
            </value>
          </entry>
          <entry>
            <key>Idle Connection Expiration</key>
            <value>
              <name>Idle Connection Expiration</name>
            </value>
          </entry>
          <entry>
            <key>Timeout</key>
            <value>
              <name>Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Protocol</key>
            <value>
              <name>Protocol</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hostname</key>
            <value>localhost</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>7000</value>
          </entry>
          <entry>
            <key>Max Size of Socket Send Buffer</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Idle Connection Expiration</key>
            <value>5 seconds</value>
          </entry>
          <entry>
            <key>Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Protocol</key>
            <value>TCP</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Send it to Splunk</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.splunk.PutSplunk</type>
    </processors>
    <processors>
      <id>01591007-e4fc-17c7-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>1219.8009331317041</x>
        <y>429.28765726953804</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cluster Name</key>
            <value>
              <name>Cluster Name</name>
            </value>
          </entry>
          <entry>
            <key>ElasticSearch Hosts</key>
            <value>
              <name>ElasticSearch Hosts</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Shield Plugin Filename</key>
            <value>
              <name>Shield Plugin Filename</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>ElasticSearch Ping Timeout</key>
            <value>
              <name>ElasticSearch Ping Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Sampler Interval</key>
            <value>
              <name>Sampler Interval</name>
            </value>
          </entry>
          <entry>
            <key>Identifier Attribute</key>
            <value>
              <name>Identifier Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Index</key>
            <value>
              <name>Index</name>
            </value>
          </entry>
          <entry>
            <key>Type</key>
            <value>
              <name>Type</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Index Operation</key>
            <value>
              <name>Index Operation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cluster Name</key>
            <value>elasticsearch</value>
          </entry>
          <entry>
            <key>ElasticSearch Hosts</key>
            <value>localhost:7000</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Shield Plugin Filename</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>ElasticSearch Ping Timeout</key>
            <value>5s</value>
          </entry>
          <entry>
            <key>Sampler Interval</key>
            <value>5s</value>
          </entry>
          <entry>
            <key>Identifier Attribute</key>
            <value>MsgKey</value>
          </entry>
          <entry>
            <key>Index</key>
            <value>2</value>
          </entry>
          <entry>
            <key>Type</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Index Operation</key>
            <value>index</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Store in ElastiSearch</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.elasticsearch.PutElasticsearch</type>
    </processors>
    <processors>
      <id>10021159-1a58-1544-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>6.111453422772001</x>
        <y>222.65761980873782</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Read a message per line</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>41d3d70e-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>859.8833778392163</x>
        <y>220.94820733024426</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>handInst</key>
            <value>
              <name>handInst</name>
            </value>
          </entry>
          <entry>
            <key>lastPx</key>
            <value>
              <name>lastPx</name>
            </value>
          </entry>
          <entry>
            <key>lastQty</key>
            <value>
              <name>lastQty</name>
            </value>
          </entry>
          <entry>
            <key>msgType</key>
            <value>
              <name>msgType</name>
            </value>
          </entry>
          <entry>
            <key>ordStatus</key>
            <value>
              <name>ordStatus</name>
            </value>
          </entry>
          <entry>
            <key>sendingTime</key>
            <value>
              <name>sendingTime</name>
            </value>
          </entry>
          <entry>
            <key>side</key>
            <value>
              <name>side</name>
            </value>
          </entry>
          <entry>
            <key>symbol</key>
            <value>
              <name>symbol</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>handInst</key>
            <value>//body/field[@tag="21"]</value>
          </entry>
          <entry>
            <key>lastPx</key>
            <value>//body/field[@tag="31"]</value>
          </entry>
          <entry>
            <key>lastQty</key>
            <value>//body/field[@tag="32"]</value>
          </entry>
          <entry>
            <key>msgType</key>
            <value>//header/field[@tag="35"]</value>
          </entry>
          <entry>
            <key>ordStatus</key>
            <value>//body/field[@tag="39"]</value>
          </entry>
          <entry>
            <key>sendingTime</key>
            <value>//header/field[@tag="52"]</value>
          </entry>
          <entry>
            <key>side</key>
            <value>//body/field[@tag="54"]</value>
          </entry>
          <entry>
            <key>symbol</key>
            <value>//body/field[@tag="55"]</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>10 sec</yieldDuration>
      </config>
      <name>Extract Select FIX Fields</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateXPath</type>
    </processors>
    <processors>
      <id>41dc293d-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>861.3242228874869</x>
        <y>428.43683664484</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
            <value>symbol, msgType, sendingTime, lastPx, lastQty, ordStatus, side, handInst</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Create a JSON message</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>41f2ff76-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>1218.1867279275789</x>
        <y>625.7234672892962</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
            <value>
              <name>Max Data to Post per Second</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>
              <name>Send as FlowFile</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
            <value>
              <name>Attributes to Send as HTTP Headers (Regex)</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://localhost:8000</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>100 MB</value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>Apache-HttpClient/4.4.1 (Java/1.8.0_111)</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Publish using HTTP Post</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PostHTTP</type>
    </processors>
    <processors>
      <id>42a0651f-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>856.79978515625</x>
        <y>624.9598853683475</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>manualOrder</key>
            <value>
              <name>manualOrder</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to 'match' if all match</value>
          </entry>
          <entry>
            <key>manualOrder</key>
            <value>${handInst:equals('3')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Extract Manual Orders</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>432ea6b4-0159-1000-0000-000000000000</id>
      <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
      <position>
        <x>367.1998681640623</x>
        <y>223.20006496429482</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>C:\tools\org.quickfixj-1.6.3\etc\FIX44.XML</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertFIXtoXML</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
    </processors>
  </snippet>
  <timestamp>12/30/2016 16:09:29 EST</timestamp>
</template>