nifi-fix-bundle/artifacts/NiFi Templates/Flows_for_the_NiFi_for_Trading_blog_2.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>This template contains flow described in the NiFi for Trading blog 2.</description>
  <groupId>1f03220b-0159-1000-8cb3-1478200cd497</groupId>
  <name>Flows for the NiFi for Trading blog 2</name>
  <snippet>
    <connections>
      <id>ce1c62d6-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1106.2998657226562</x>
        <y>62.29998779296875</y>
      </bends>
      <destination>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>dc84e482-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>01591013-b4e9-188a-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>1</zIndex>
    </connections>
    <connections>
      <id>ce1fbaf9-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1107.4999389648438</x>
        <y>184.69998168945312</y>
      </bends>
      <destination>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1f641f7-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c863439e-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce23659b-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1107.4999389648438</x>
        <y>302.29998779296875</y>
      </bends>
      <destination>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1f902ba-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c8656e5c-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce25296a-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1106.2998657226562</x>
        <y>422.29998779296875</y>
      </bends>
      <destination>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1fa8724-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c86fd034-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>3</zIndex>
    </connections>
    <connections>
      <id>ce28f13b-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>494.29998779296875</x>
        <y>255.5</y>
      </bends>
      <destination>
        <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
        <id>c6cb3d36-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>0159100c-b4e9-188a-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce2b95a5-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>ce2b6644-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c8863ac6-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce334780-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>575.0065741732274</x>
        <y>345.93945337334867</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591004-b4e9-188a-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c8863ac6-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dc8754d3-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1106.2998657226562</x>
        <y>118.69998168945312</y>
      </bends>
      <destination>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c8617522-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>dc84e482-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e1f81e13-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1107.4999389648438</x>
        <y>241.0999755859375</y>
      </bends>
      <destination>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c86421a2-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1f641f7-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e1fa0e30-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1106.2998657226562</x>
        <y>356.29998779296875</y>
      </bends>
      <destination>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c8656e5b-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1f902ba-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>2</zIndex>
    </connections>
    <connections>
      <id>e1fb3e3a-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1108.6998901367188</x>
        <y>479.89996337890625</y>
      </bends>
      <destination>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>c86f2325-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>SUCCESS</selectedRelationships>
      <source>
        <groupId>1f03220b-0159-1000-0000-000000000000</groupId>
        <id>e1fa8724-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>4</zIndex>
    </connections>
    <connections>
      <id>01591006-b4e9-188a-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>370.4828314974461</x>
        <y>344.619949589169</y>
      </bends>
      <destination>
        <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
        <id>01591004-b4e9-188a-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
        <id>c6c8870b-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01591009-b4e9-188a-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>493.09991455078125</x>
        <y>185.89999389648438</y>
      </bends>
      <destination>
        <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
        <id>01591008-b4e9-188a-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
        <id>c6c8870b-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <outputPorts>
      <id>ce2b6644-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>682.2859101183913</x>
        <y>393.0595460921936</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>To Drop-copy / TCR Receiver</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>OUTPUT_PORT</type>
    </outputPorts>
    <processGroups>
      <id>c6be842b-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>135.19964578693236</y>
      </position>
      <comments>FIX client, simulated for this example</comments>
      <contents>
        <connections>
          <id>c6c8a7b3-0159-1000-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1121.3436279296875</x>
            <y>305.78326416015625</y>
          </bends>
          <destination>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>c6c8870b-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>1a581544-1159-1002-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591000-b4e9-188a-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>637.0841674804688</x>
            <y>590.7969360351562</y>
          </bends>
          <destination>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>01591000-09f5-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>01591000-5f27-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591001-b4e9-188a-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1122.6630859375</x>
            <y>478.6387939453125</y>
          </bends>
          <destination>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>01591000-5f27-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>c6cb3d36-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1a591544-1159-1002-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>637.084228515625</x>
            <y>222.65425872802734</y>
          </bends>
          <destination>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>1a581544-1159-1002-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c6be842b-0159-1000-0000-000000000000</groupId>
            <id>a6b4132f-1009-1159-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>c6cb3d36-0159-1000-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1021.9292568093908</x>
            <y>403.40240307093745</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>FIX Messages In</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>a6b4132e-1009-1159-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>272.59758276080936</x>
            <y>232.14586894786916</y>
          </position>
          <height>160.08737182617188</height>
          <label>FIX Messages, extracted from application logs</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#cccac4</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>719.7825927734375</width>
        </labels>
        <labels>
          <id>01591003-b4e9-188a-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>274.21945497170805</x>
            <y>406.065821525375</y>
          </position>
          <height>160.08737182617188</height>
          <label>Write FIX Messages to file</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#cccac4</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>719.7825927734375</width>
        </labels>
        <outputPorts>
          <id>c6c8870b-0159-1000-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1023.4451533128847</x>
            <y>342.5775254791313</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>FIX Messages Out</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>a6b4132f-1009-1159-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>279.99745336627814</x>
            <y>255.02546580037813</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Input Directory</key>
                <value>
                  <name>Input Directory</name>
                </value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>
                  <name>File Filter</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter</key>
                <value>
                  <name>Path Filter</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>
                  <name>Keep Source File</name>
                </value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>
                  <name>Recurse Subdirectories</name>
                </value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>
                  <name>Polling Interval</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>
                  <name>Ignore Hidden Files</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>
                  <name>Minimum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
                <value>
                  <name>Maximum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>
                  <name>Minimum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
                <value>
                  <name>Maximum File Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Input Directory</key>
                <value>/var/opt/nifi4trading/data</value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>orders.fm</value>
              </entry>
              <entry>
                <key>Path Filter</key>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>30 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>30 sec</yieldDuration>
          </config>
          <name>Read FIX log file</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
          <id>01591000-09f5-188a-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>278.0831554573392</x>
            <y>429.24474640881317</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/var/tmp</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>01591000-5f27-188a-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>639.4143602913232</x>
            <y>429.9936520484615</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Filename</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>/var/opt/nifi4trading/conf/nl.txt</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>1a581544-1159-1002-0000-000000000000</id>
          <parentGroupId>c6be842b-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>636.4181426288939</x>
            <y>256.2446203484038</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Read a message per line</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
      </contents>
      <name>FIX client (Simulated)</name>
    </processGroups>
    <processGroups>
      <id>01591002-6629-1bf8-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>280.6476903252735</x>
        <y>390.9471610110629</y>
      </position>
      <comments>FIX message collection and preparation</comments>
      <contents>
        <connections>
          <id>cdf2f571-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1275.6036376953125</x>
            <y>86.1015396118164</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>SUCCESS</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf17bb4-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cdf523eb-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1249.8487548828125</x>
            <y>289.1111755371094</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>SUCCESS</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf44019-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cdf62066-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1357.41357421875</x>
            <y>486.0608215332031</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>SUCCESS</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf5b214-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591005-a6b4-132e-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1557.3931884765625</x>
            <y>-18.433271408081055</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591006-e4fc-17c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591005-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>837.3402099609375</x>
            <y>24.96969985961914</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf17bb4-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591004-b4e9-188a-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591006-a6b4-132e-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1642.2330322265625</x>
            <y>17.92666244506836</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591001-e4fc-17c7-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591008-a6b4-132e-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1421.04345703125</x>
            <y>20.95665740966797</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41d3d70e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-a6b4-132e-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1002115a-1a58-1544-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>952.9093017578125</x>
            <y>293.6561584472656</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf44019-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591003-e4fc-17c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1002115f-1a58-1544-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>836.2545166015625</x>
            <y>431.5209045410156</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>cdf5b214-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591000-e4fc-17c7-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>41dd6142-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41dc293d-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41d3d70e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>41de47eb-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1930.08251953125</x>
            <y>283.0511779785156</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>01591007-e4fc-17c7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41dc293d-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>42a0c5b6-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>42a0651f-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41dc293d-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>42a3add0-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1842.3197021484375</x>
            <y>482.5999183654785</y>
          </bends>
          <destination>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>41f2ff76-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>01591002-6629-1bf8-0000-000000000000</groupId>
            <id>42a0651f-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <funnels>
          <id>01591003-a6b4-132e-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1352.7199123712442</x>
            <y>144.53015440313118</y>
          </position>
        </funnels>
        <inputPorts>
          <id>01591000-e4fc-17c7-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>652.8080150150039</x>
            <y>336.72973979799735</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>MiNiFi Messages</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>01591004-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>652.9432465257642</x>
            <y>-54.809856552282156</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Receive FIX messages</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>0159100a-a6b4-132e-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1447.759907488432</x>
            <y>66.43998329488511</y>
          </position>
          <height>383.0399475097656</height>
          <label>Select a subset of fields and return
a JSON object per message</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#d1d1cd</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>362.8797912597656</width>
        </labels>
        <outputPorts>
          <id>01591001-e4fc-17c7-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1879.0902537085763</x>
            <y>107.41922205544381</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>To Spark Streaming</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
          <validationErrors>'Port 'To Spark Streaming'' is invalid because Output connection for port 'To Spark Streaming' is not defined.</validationErrors>
        </outputPorts>
        <processors>
          <id>cdf17bb4-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>957.4542929663623</x>
            <y>-80.54815382638685</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Dictionary URI</key>
                <value>
                  <name>Dictionary URI</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Dictionary URI</key>
                <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertFIXtoXML</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>FAILURE</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>SUCCESS</name>
          </relationships>
          <style></style>
          <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
        </processors>
        <processors>
          <id>cdf44019-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>957.454288352948</x>
            <y>122.4615371807854</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Dictionary URI</key>
                <value>
                  <name>Dictionary URI</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Dictionary URI</key>
                <value>/var/opt/nifi4trading/conf/FIX42.xml</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertFIXtoXML</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>FAILURE</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>SUCCESS</name>
          </relationships>
          <style></style>
          <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
        </processors>
        <processors>
          <id>cdf5b214-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>957.4475947847834</x>
            <y>323.9561844716486</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Dictionary URI</key>
                <value>
                  <name>Dictionary URI</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Dictionary URI</key>
                <value>/var/opt/nifi4trading/conf/FIX50.xml</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertFIXtoXML</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>FAILURE</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>SUCCESS</name>
          </relationships>
          <style></style>
          <type>org.aasharblog.nifi4trading.ConvertFIXtoXML</type>
        </processors>
        <processors>
          <id>01591003-e4fc-17c7-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>596.6908375018032</x>
            <y>122.06036070195921</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JMS Provider</key>
                <value>
                  <name>JMS Provider</name>
                </value>
              </entry>
              <entry>
                <key>URL</key>
                <value>
                  <name>URL</name>
                </value>
              </entry>
              <entry>
                <key>Destination Name</key>
                <value>
                  <name>Destination Name</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Message Batch Size</key>
                <value>
                  <name>Message Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Acknowledgement Mode</key>
                <value>
                  <name>Acknowledgement Mode</name>
                </value>
              </entry>
              <entry>
                <key>Message Selector</key>
                <value>
                  <name>Message Selector</name>
                </value>
              </entry>
              <entry>
                <key>Copy JMS Properties to Attributes</key>
                <value>
                  <name>Copy JMS Properties to Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Client ID Prefix</key>
                <value>
                  <name>Client ID Prefix</name>
                </value>
              </entry>
              <entry>
                <key>Use Durable Subscription</key>
                <value>
                  <name>Use Durable Subscription</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JMS Provider</key>
                <value>ActiveMQ</value>
              </entry>
              <entry>
                <key>URL</key>
                <value>localhost:8000</value>
              </entry>
              <entry>
                <key>Destination Name</key>
                <value>test</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Message Batch Size</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Username</key>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Acknowledgement Mode</key>
                <value>Client Acknowledge</value>
              </entry>
              <entry>
                <key>Message Selector</key>
              </entry>
              <entry>
                <key>Copy JMS Properties to Attributes</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Client ID Prefix</key>
              </entry>
              <entry>
                <key>Use Durable Subscription</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>* * * * * ?</schedulingPeriod>
            <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Receive Drop Copies with JMS</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetJMSTopic</type>
        </processors>
        <processors>
          <id>01591006-e4fc-17c7-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1824.4755009851842</x>
            <y>-77.96437255244416</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hostname</key>
                <value>
                  <name>Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Port</key>
                <value>
                  <name>Port</name>
                </value>
              </entry>
              <entry>
                <key>Max Size of Socket Send Buffer</key>
                <value>
                  <name>Max Size of Socket Send Buffer</name>
                </value>
              </entry>
              <entry>
                <key>Idle Connection Expiration</key>
                <value>
                  <name>Idle Connection Expiration</name>
                </value>
              </entry>
              <entry>
                <key>Timeout</key>
                <value>
                  <name>Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Protocol</key>
                <value>
                  <name>Protocol</name>
                </value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
                <value>
                  <name>Message Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hostname</key>
                <value>localhost</value>
              </entry>
              <entry>
                <key>Port</key>
                <value>7000</value>
              </entry>
              <entry>
                <key>Max Size of Socket Send Buffer</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Idle Connection Expiration</key>
                <value>5 seconds</value>
              </entry>
              <entry>
                <key>Timeout</key>
                <value>10 seconds</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Protocol</key>
                <value>TCP</value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Send it to Splunk</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.splunk.PutSplunk</type>
        </processors>
        <processors>
          <id>01591007-e4fc-17c7-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1825.7877156201366</x>
            <y>317.01097913024955</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Cluster Name</key>
                <value>
                  <name>Cluster Name</name>
                </value>
              </entry>
              <entry>
                <key>ElasticSearch Hosts</key>
                <value>
                  <name>ElasticSearch Hosts</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Shield Plugin Filename</key>
                <value>
                  <name>Shield Plugin Filename</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>ElasticSearch Ping Timeout</key>
                <value>
                  <name>ElasticSearch Ping Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Sampler Interval</key>
                <value>
                  <name>Sampler Interval</name>
                </value>
              </entry>
              <entry>
                <key>Identifier Attribute</key>
                <value>
                  <name>Identifier Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Index</key>
                <value>
                  <name>Index</name>
                </value>
              </entry>
              <entry>
                <key>Type</key>
                <value>
                  <name>Type</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Index Operation</key>
                <value>
                  <name>Index Operation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Cluster Name</key>
                <value>elasticsearch</value>
              </entry>
              <entry>
                <key>ElasticSearch Hosts</key>
                <value>localhost:7000</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Shield Plugin Filename</key>
              </entry>
              <entry>
                <key>Username</key>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>ElasticSearch Ping Timeout</key>
                <value>5s</value>
              </entry>
              <entry>
                <key>Sampler Interval</key>
                <value>5s</value>
              </entry>
              <entry>
                <key>Identifier Attribute</key>
                <value>MsgKey</value>
              </entry>
              <entry>
                <key>Index</key>
                <value>2</value>
              </entry>
              <entry>
                <key>Type</key>
                <value>String</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Index Operation</key>
                <value>index</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Store in ElastiSearch</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.elasticsearch.PutElasticsearch</type>
        </processors>
        <processors>
          <id>41d3d70e-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1453.7231876713986</x>
            <y>114.7329324654919</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>handInst</key>
                <value>
                  <name>handInst</name>
                </value>
              </entry>
              <entry>
                <key>lastPx</key>
                <value>
                  <name>lastPx</name>
                </value>
              </entry>
              <entry>
                <key>lastQty</key>
                <value>
                  <name>lastQty</name>
                </value>
              </entry>
              <entry>
                <key>msgType</key>
                <value>
                  <name>msgType</name>
                </value>
              </entry>
              <entry>
                <key>ordStatus</key>
                <value>
                  <name>ordStatus</name>
                </value>
              </entry>
              <entry>
                <key>senderCompID</key>
                <value>
                  <name>senderCompID</name>
                </value>
              </entry>
              <entry>
                <key>sendingTime</key>
                <value>
                  <name>sendingTime</name>
                </value>
              </entry>
              <entry>
                <key>side</key>
                <value>
                  <name>side</name>
                </value>
              </entry>
              <entry>
                <key>symbol</key>
                <value>
                  <name>symbol</name>
                </value>
              </entry>
              <entry>
                <key>targetCompID</key>
                <value>
                  <name>targetCompID</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>handInst</key>
                <value>//body/field[@tag="21"]</value>
              </entry>
              <entry>
                <key>lastPx</key>
                <value>//body/field[@tag="31"]</value>
              </entry>
              <entry>
                <key>lastQty</key>
                <value>//body/field[@tag="32"]</value>
              </entry>
              <entry>
                <key>msgType</key>
                <value>//header/field[@tag="35"]</value>
              </entry>
              <entry>
                <key>ordStatus</key>
                <value>//body/field[@tag="39"]</value>
              </entry>
              <entry>
                <key>senderCompID</key>
                <value>//header/field[@tag="49"]</value>
              </entry>
              <entry>
                <key>sendingTime</key>
                <value>//header/field[@tag="52"]</value>
              </entry>
              <entry>
                <key>side</key>
                <value>//body/field[@tag="54"]</value>
              </entry>
              <entry>
                <key>symbol</key>
                <value>//body/field[@tag="55"]</value>
              </entry>
              <entry>
                <key>targetCompID</key>
                <value>//header/field[@tag="56"]</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>10 sec</yieldDuration>
          </config>
          <name>Extract Select FIX Fields</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateXPath</type>
        </processors>
        <processors>
          <id>41dc293d-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1455.164398930607</x>
            <y>314.6418479586765</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Attributes List</key>
                <value>
                  <name>Attributes List</name>
                </value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>
                  <name>Include Core Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>
                  <name>Null Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Attributes List</key>
                <value>symbol, msgType, sendingTime, lastPx, lastQty, ordStatus, side, handInst,senderCompID,targetCompID</value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Create a JSON message</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
          <id>41f2ff76-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1824.1675289706989</x>
            <y>514.9770625875077</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>URL</key>
                <value>
                  <name>URL</name>
                </value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>
                  <name>Max Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Data to Post per Second</key>
                <value>
                  <name>Max Data to Post per Second</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>Send as FlowFile</key>
                <value>
                  <name>Send as FlowFile</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>
                  <name>Data Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send as HTTP Headers (Regex)</key>
                <value>
                  <name>Attributes to Send as HTTP Headers (Regex)</name>
                </value>
              </entry>
              <entry>
                <key>User Agent</key>
                <value>
                  <name>User Agent</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>URL</key>
                <value>http://localhost:8000</value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>100 MB</value>
              </entry>
              <entry>
                <key>Max Data to Post per Second</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Username</key>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>Send as FlowFile</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Attributes to Send as HTTP Headers (Regex)</key>
              </entry>
              <entry>
                <key>User Agent</key>
                <value>Apache-HttpClient/4.4.1 (Java/1.8.0_111)</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish using HTTP Post</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PostHTTP</type>
        </processors>
        <processors>
          <id>42a0651f-0159-1000-0000-000000000000</id>
          <parentGroupId>01591002-6629-1bf8-0000-000000000000</parentGroupId>
          <position>
            <x>1453.664619402495</x>
            <y>515.7198893579653</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>manualOrder</key>
                <value>
                  <name>manualOrder</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to 'match' if all match</value>
              </entry>
              <entry>
                <key>manualOrder</key>
                <value>${handInst:equals('3')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Extract Manual Orders</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
      </contents>
      <name>Message Preparation for monitoring</name>
    </processGroups>
    <processGroups>
      <id>01591007-b4e9-188a-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>610.7781362557507</x>
        <y>132.85094833472482</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>c861bc11-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1488.4852294921875</x>
            <y>78.79934692382812</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c8617522-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c8629f18-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c858293e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Auto Execution</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100f-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c864b89b-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1489.8717041015625</x>
            <y>221.42172241210938</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c86421a2-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c86679fb-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1490.9510498046875</x>
            <y>361.72900390625</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c8656e5b-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c870f54b-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1490.9510498046875</x>
            <y>506.3534240722656</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c86f2325-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c87aae38-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1135.2635498046875</x>
            <y>300.7192077636719</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>01591013-b4e9-188a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c858293e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c8856e47-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1646.3682861328125</x>
            <y>257.0381774902344</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100c-b4e9-188a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c8866933-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1650.6854248046875</x>
            <y>396.26617431640625</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c8863ac6-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c884dc87-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ce44f6b9-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1134.023681640625</x>
            <y>371.3863830566406</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c863439e-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>A_thru_H</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c858293e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ce45895c-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c8656e5c-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>I_thru_O</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c858293e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ce473765-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1132.642578125</x>
            <y>546.8876953125</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c86fd034-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>P_thru_Z</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>c858293e-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0159100b-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>560.061279296875</x>
            <y>168.8874969482422</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100a-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>01591008-b4e9-188a-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0159100e-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>557.89892578125</x>
            <y>224.02784729003906</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100f-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>SUCCESS</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100a-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591012-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1132.783935546875</x>
            <y>122.1916275024414</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>01591013-b4e9-188a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Manual Execution</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100f-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591014-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1134.023681640625</x>
            <y>168.06329345703125</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>01591013-b4e9-188a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Broker Execution</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100f-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591015-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1134.023681640625</x>
            <y>216.41452026367188</y>
          </bends>
          <destination>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>01591013-b4e9-188a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>01591007-b4e9-188a-0000-000000000000</groupId>
            <id>0159100f-b4e9-188a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <funnels>
          <id>c884dc87-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1519.1972403929879</x>
            <y>295.89598480497756</y>
          </position>
        </funnels>
        <inputPorts>
          <id>c8617522-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1251.367445929274</x>
            <y>99.7559334245525</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Execution Desk Execs In</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>c86421a2-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1252.0210132614084</x>
            <y>238.3071541565339</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>A Thru H Execs In</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>c8656e5b-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1250.4923173328687</x>
            <y>378.35054804169226</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>I Thru O Execs In</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>c86f2325-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1250.1664802593918</x>
            <y>523.451264018495</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>P Thru Z Execs In</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>01591008-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>421.280659980938</x>
            <y>94.50988643444146</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Receive FIX Messages</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>c87b95a7-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1030.8509249831582</x>
            <y>257.9632796791155</y>
          </position>
          <height>67.5514144897461</height>
          <label>Bad Symbol?</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#fafa05</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>207.31385803222656</width>
        </labels>
        <outputPorts>
          <id>c863439e-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1252.021138017834</x>
            <y>293.41263077587837</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>A Thru H Orders Out</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>c8656e5c-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1250.4927472650754</x>
            <y>433.905548586818</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>I Thru O Orders Out</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>c86fd034-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1250.1667272479806</x>
            <y>581.1508831201056</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>P Thru Z Orders Out</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>c8863ac6-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1592.9829467170798</x>
            <y>422.1460698866531</y>
          </position>
          <comments>A copy of executions, can be utilized for drop-copies, 
trade capture reports, compliance/risk/monitoring, etc.</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Drop-copy / TCR</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>0159100c-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1593.956165996777</x>
            <y>293.5357884451031</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Send FIX responses</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>01591013-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>1252.2064635933389</x>
            <y>154.35153343255627</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>To Execution Desk OMS</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>c858293e-0159-1000-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>668.5312450934318</x>
            <y>416.50755195988495</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>A_thru_H</key>
                <value>
                  <name>A_thru_H</name>
                </value>
              </entry>
              <entry>
                <key>I_thru_O</key>
                <value>
                  <name>I_thru_O</name>
                </value>
              </entry>
              <entry>
                <key>P_thru_Z</key>
                <value>
                  <name>P_thru_Z</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>A_thru_H</key>
                <value>${Symbol:substring(0,1):toUpper():matches('A|B|C|D|E|F|G|H')}</value>
              </entry>
              <entry>
                <key>I_thru_O</key>
                <value>${Symbol:substring(0,1):toUpper():matches('I|J|K|L|M|N|O')}</value>
              </entry>
              <entry>
                <key>P_thru_Z</key>
                <value>${Symbol:substring(0,1):toUpper():matches('P|Q|R|S|T|U|V|W|X|Y|Z')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Symbol Based Routing</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>A_thru_H</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>I_thru_O</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>P_thru_Z</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>0159100a-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>670.2442067338677</x>
            <y>75.67244403637014</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Dictionary URI</key>
                <value>
                  <name>Dictionary URI</name>
                </value>
              </entry>
              <entry>
                <key>Include Missing Fields?</key>
                <value>
                  <name>Include Missing Fields?</name>
                </value>
              </entry>
              <entry>
                <key>List of Fields for extraction</key>
                <value>
                  <name>List of Fields for extraction</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Dictionary URI</key>
                <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
              </entry>
              <entry>
                <key>Include Missing Fields?</key>
                <value>FALSE</value>
              </entry>
              <entry>
                <key>List of Fields for extraction</key>
                <value>21,55</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Extract Handling Instructions (FIX 21)</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>FAILURE</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>SUCCESS</name>
          </relationships>
          <style></style>
          <type>org.aasharblog.nifi4trading.ExtractFIXFields</type>
        </processors>
        <processors>
          <id>0159100f-b4e9-188a-0000-000000000000</id>
          <parentGroupId>01591007-b4e9-188a-0000-000000000000</parentGroupId>
          <position>
            <x>669.9834856596242</x>
            <y>215.1882324809239</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Auto Execution</key>
                <value>
                  <name>Auto Execution</name>
                </value>
              </entry>
              <entry>
                <key>Broker Execution</key>
                <value>
                  <name>Broker Execution</name>
                </value>
              </entry>
              <entry>
                <key>Manual Execution</key>
                <value>
                  <name>Manual Execution</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>Auto Execution</key>
                <value>${HandlInst:equals('1')}</value>
              </entry>
              <entry>
                <key>Broker Execution</key>
                <value>${HandlInst:equals('2')}</value>
              </entry>
              <entry>
                <key>Manual Execution</key>
                <value>${HandlInst:equals('3')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Route flow based on handling instructions</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Auto Execution</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Broker Execution</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Manual Execution</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
      </contents>
      <name>Trade Execution Flow Management</name>
    </processGroups>
    <processors>
      <id>dc84e482-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1224.778678062797</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>
              <name>Market Orders fill price</name>
            </value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>
              <name>Comma separated list of valid OrdType</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>1,2,3</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Simulate Desk OMS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Invalid Message</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ProcessOrder</type>
    </processors>
    <processors>
      <id>e1f641f7-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1224.778589236339</x>
        <y>140.5422381502765</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>
              <name>Market Orders fill price</name>
            </value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>
              <name>Comma separated list of valid OrdType</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>1,2,3</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Simulate A-H Execution</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Invalid Message</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ProcessOrder</type>
    </processors>
    <processors>
      <id>e1f902ba-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1225.6749823680925</x>
        <y>279.6818455789115</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>
              <name>Market Orders fill price</name>
            </value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>
              <name>Comma separated list of valid OrdType</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>1,2,3</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Simulate I-O Execution</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Invalid Message</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ProcessOrder</type>
    </processors>
    <processors>
      <id>e1fa8724-0159-1000-0000-000000000000</id>
      <parentGroupId>1f03220b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1224.5760780757241</x>
        <y>419.02404108803705</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Dictionary URI</key>
            <value>
              <name>Dictionary URI</name>
            </value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>
              <name>Market Orders fill price</name>
            </value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>
              <name>Comma separated list of valid OrdType</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Dictionary URI</key>
            <value>/var/opt/nifi4trading/conf/FIX44.xml</value>
          </entry>
          <entry>
            <key>Market Orders fill price</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Comma separated list of valid OrdType</key>
            <value>1,2,3</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Simulate I-O Execution</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>FAILURE</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Invalid Message</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>SUCCESS</name>
      </relationships>
      <style></style>
      <type>org.aasharblog.nifi4trading.ProcessOrder</type>
    </processors>
  </snippet>
  <timestamp>01/28/2017 17:57:06 EST</timestamp>
</template>